.main-chat
 .main-chat__group-info
  .grop-info-left
   %p.grop-info-left__name
    = @group.name
   %p.grop-info-left__member
    Member:
    - @group.users.each do |user|
     = user.name
  .grop-info-right
   = link_to "/groups/#{@group.id}/edit", class:"grop-info-right__edit-link" do
    %p.grop-info-right__edit-btn
     Edit
    

 = render @message


 .main-chat__message-form
  = form_for [@group,@message] ,class:"message-items" do |f|
   .message-items__content
    = f.text_field :content,placeholder: "type a message",class: "message-items__content--text"
    = f.label :image,class: "message-items__content--image" do
     %i.fa.fa-image.message-items__content--image-icon
     = f.file_field :image,class:"message-items__content--image-file-btn"
     
   =f.submit "Send",class:"message-items__send-btn"
    
   
